engines/guojixiangqi/stockfish.exe filter=lfs diff=lfs merge=lfs -text
engines/weiqi/model.bin.gz filter=lfs diff=lfs merge=lfs -text
engines/zhongguoxiangqi/pikafish.nnue filter=lfs diff=lfs merge=lfs -text
